/*vlozene do podstranok ako php*/
h1 {
    font-size: 14px;
}
h2 {
    font-size: 16px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 20px;
}
h5 {
    font-size: 22px;
}
h6 {
    font-size: 24px;
}
#modre {
    color: blue;
}
#cervene,
.cervene,
.red {
    color: red;
    font-weight: bold;
}
.oprava_lojality {
    color: darkgray;
}
.lojalita {
    color: grey;
}



.section-name {
    height: 20px;
    width: 100%;
    background-color: #125a9b;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}

/**
a {
    color: #000;
}
**/

#tmavy_rezim {
    height: 14px;
    cursor: pointer;
}
:root {
    --primary-color: #f9f7f7;
    --secondary-color: #111;
}
.tmavy_rezim {
    --primary-color: #a1a1a1;
    --secondary-color: #f9f7f7;
}


.icons {
    height: 14px;
}
.trofeje {
    height: 80px;
}
.addons {
    width: 100%;
}
.images,
.trofeje2 {
    width: 100%;
}


/* skryť/odokryť odkazy na novinky */
a.novinka {
    visibility: visible;
}

/* definicie odkazov na navod */
a.navod {
    color:  #1154b1; 
}

/* definicie odkazov na HA */
a.arena {
    background-image: linear-gradient(to bottom, blue 0%, blue 40%, red 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* definicie odkazov na stranky */
a.addons {
    color: brown;
}

/* definicie kotvy */
.kotva {
    padding-top: 65px;
}

/* poznamka k dresom a štatistikám */
.poznamka,
.poznamka_dres, 
.podmienky_stat,
.darovanie_dresu,
.trh_s_dresmi {
    color: grey;
}

/*kseftovanie - ohranicenie tabulky*/
table.tabulka {
    border: 1px solid;
    width: 100%;
    background-color: #daebf5;
}
td.nadpis {
    border: 1px solid;
    border-color: #111;
    background-color: #125a9b;
    text-align: center;
    color:#f9f7f7;
}
td.popis {
    border: 1px solid;
    border-color: #111;
    width: 40%;
}
td.tab {
    border: 1px solid;
    border-color: #111;
    width: 20%;
    text-align: center;
}
tr.modre {
    color: blue;
}