/*vlozene do podstranok ako php*/
h1 {
    font-size: 14px;
}
h2 {
    font-size: 16px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 20px;
}
h5 {
    font-size: 22px;
}
h6 {
    font-size: 24px;
}
#modre {
    color: blue;
}
#cervene,
.cervene,
.red {
    color: red;
    font-weight: bold;
}
.oprava_lojality {
    color: darkgray;
}



.section-name {
    height: 20px;
    width: 100%;
    background-color: #125a9b;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}

/**
a {
    color: #000;
}
**/

#tmavy_rezim {
    height: 14px;
    cursor: pointer;
}
:root {
    --primary-color: #f9f7f7;
    --secondary-color: #111;
}
.tmavy_rezim {
    --primary-color: #a1a1a1;
    --secondary-color: #f9f7f7;
}


.icons {
    height: 14px;
}
.trofeje {
    height: 80px;
}
.addons {
    width: 100%;
}
.images,
.trofeje2 {
    width: 100%;
}


/* skryť/odokryť odkazy na novinky */
a.novinky {
    visibility: visible;
}