/* FULL viewport collapse the table width */
@media only screen and (min-width: 990px)  {

    div.widthControl {
        max-width: 960px;
    }

}



/* collapsed sidebar styles */
@media only screen and (max-width: 389px)
{
    /*contentCOl*/
    div.contentCol .vyrok {
        line-height: 1.6em;
        margin: 30px 10px 0px 10px;
        font-size: 16px;
        width: 210px;
    }
    div.contentCol .podpis {
        padding-right: 0px;
        text-align: right;
    }
    
}  



/* collapsed sidebar styles */
@media only screen and (max-width: 789px)
{
    /*footer*/
    footer {
        display: block;
        /*width: 300px;*/
    }
    div.contentCol .vyrok {
        margin: 50px auto 0px auto;
        padding-top: 10px;
    }
    div.contentCol .podpis {
        margin: 0px auto 40px auto;
        padding-right: 60px;
      
    }
      
}   



/* show the full left menu */
@media only screen and (min-width: 790px)
{
    /*body*/
    body {
        font-size: 13px;
    }


    /*header*/
    header.header {
        background-image: none;
    }
    header.header .logo {
        display: block;
    }
    header.header nav.topMenu {
        margin: 0 10px 0 120px;
    }
    div.menuToggle {
        display: none;
    }
    

    /*leftCol*/
    div.leftCol {
        display: block;
        position: fixed;
    }

    nav.menuLeft a.level1 {
        padding: 2px 15px 2px 10px;
        font-size: 0.95em;
        font-weight: normal;
    }
    nav.menuLeft {
        z-index: auto;
        width: auto;
    }


    /*contenCol*/
    div.contentCol {
        margin: 13px 13px 0px 212px;
        width: 580px;
        min-width: 580px;
    }
    div.contentCol .vyrok {
        line-height: 1.6em;
        margin-top: 50px;
        font-size: 20px;
        width: 500px;
    }
    div.contentCol .podpis {
        text-align: right;
        padding-right: 40px;
        margin: 0px auto 40px auto;

    }
    div.contentCol .autor {
        width: 500px;
    }
    

    /*footer*/
    div.copyright {
        overflow: hidden !important;
        padding: 0 33px 0 233px;
    }


}
