.topMenu a {
  font-weight: bold;
  white-space: nowrap;
  line-height: 44px;
  min-height: 22px;
  color: #f9f7f7;  
}
.topMenu {
    text-align: center;
}
.section-name {
  height: 20px;
  width: 100%;
  background-color: #125a9b;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}

